/* Hide numbers with Jupyter notebook cells */
div.nbinput.container div.prompt {
    display: none;
    width: 0ex
}

div.nboutput.container div.prompt {
    display: none;
    width: 0ex
}

/* Create grid of blocks for navigation */
.nav-container {
    margin: 40px auto;
    margin-left: 5px;
    width: 100%;
    height: 90px;
    background-color: #fcfcfc;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 90px;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
}

.nav-container .box, .nav-box {
    background-color: #2980b9;
    padding: 20px;
    border-radius: 5px;
    color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    transition: 0.2s;
    cursor: pointer;
    box-shadow:
        0 10px 10px #888888;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 12px 18px rgba(0,0,0,0.1);
}

/* shrink on hover */
.nav-container .box:hover, .nav-box:hover {
    transform: scale(0.95);
    background-color: #2980b9;
}

.success {
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}